<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">&copy; Explore Private Limited</div>
    <div class="f-info-links">
     <a href="#" class="disabled" tabindex="-1" aria-disabled="true">Privacy</a>&nbsp;
      <a href="#" class="disabled" tabindex="-1" aria-disabled="true">Privacy</a>
    </div>
    <div>
      <p>Developed by <strong>Mujeeb Khan</strong></p>
    </div>
  </div>
</footer>
