<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- <i class="fa-solid fa-compass-drafting"></i> -->
    <a class="navbar-brand" href="/"
      ><img src="/main-icon.jpg" alt="Custom Icon" width="36" height="36" />
      &nbsp;&nbsp;<strong>Explore Karnataka</strong></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/">Home</a> -->
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>

      <!-- to shift this sign,log-in-out  options to right side we use class ms-auto -->
      <div class="navbar-nav ms-auto">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/login">Log in</a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
