<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-12 offset-1 mt-3">
    <h2>Create a new Listing</h2>

    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <br /><br />
      <div class="mb-2">
        <label for="title" class="form-label">Title </label>
        <input
          name="listing[title]"
          type="text"
          placeholder="Enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks fine!</div>
        <div class="invalid-feedback">Title is mandatory!</div>
      </div>

      <br /><br />
      <div class="mb-2">
        <label for="description" class="form-label">Description </label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description!</div>
      </div>

      <br /><br />
      <div class="mb-2">
        <label for="image" class="form-label">Upload Image </label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
      </div>

      <br /><br />
      <div class="row">
        <div class="mb-2 col-md-4">
          <label for="timings[opening]" class="form-label">Opening Time</label>
          <input
            name="listing[timings][opening]"
            type="text"
            placeholder="e.g., 9:30 AM"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter time in format HH:MM AM/PM</div>
        </div>

        <div class="mb-2 col-md-4">
          <label for="timings[closing]" class="form-label">Closing Time</label>
          <input
            name="listing[timings][closing]"
            type="text"
            placeholder="e.g., 6:00 PM"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter time in format HH:MM AM/PM</div>
        </div>

        <div class="mb-2 col-md-4">
          <label for="country" class="form-label">Country</label>
          <input
            name="listing[country]"
            type="text"
            placeholder="Enter country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country!</div>
        </div>
      </div>

      <br /><br />
      <div class="mb-2">
        <label for="location" class="form-label">Location (city, state, country)</label>
        <input
          name="listing[location]"
          type="text"
          placeholder="e.g., Mysore Palace , Karnataka, India"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location!</div>
      </div>

      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
